/* style sheet for rocket science home */

body {
        background-image:url("background.png");
        background-repeat:repeat-y;
        max-width: 2049px;
     }

header {
          text-align:center;
          border-bottom-style:solid;
          border-bottom-color:white;
          border-bottom-width:1px
       }

header p {
            width:650px; 
            display:inline-block;
         }

section {}

h1 {color:white;}

h2 {}

#section-title {text-align:center;}

h3 {color:white;}

h4 {}

ul {
      margin:0;padding:0;
      list-style-type:none;
      text-align:center;
   }

ul li { 
         display:inline-block;
         max-width:650px;
         margin:10px
      }

ul p {
        max-width:400px;
        text-align:left;
     }

a {}

footer {text-align:center;}